{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
</head>

<body>
    <h1>Your Shopping Cart</h1>
    {% for item in cart_items %}
    <div>
        <img src="{{ item.product.product_image.url }}" alt="{{ item.product.product_name }}">
        <h4>{{ item.product.product_name }}</h4>
        <p>Sale Price: Rs.{{ item.product.sale_price }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <!-- Add more product details here as needed -->
    </div>
{% endfor %}

 

</body>

</html>
